@import "./mixin.sass"

.root
  width: 100vw
  height: 100vh
  overflow: scroll
  +mq(lg)
    display: flex
    overflow: scroll
    .tab
      width: 80px
      height: 100vh
      padding-top: 15px
      border-right: 1px solid rgba(0,0,0,0.12)
      overflow: scroll
      box-sizing: border-box
      .iconWrapper
        display: flex
        margin-top: 15px
        margin-bottom: 15px
        .space
          width: 4px
        .selected
          width: 4px
          height: 43.2px
          background-color: black
          border-radius: 0px 10px 10px 0px
        .icon
          width: 54%
          margin: auto
          display: flex
          align-items: center
          justify-content: center
          padding: 2%
          border: 1px solid #EBEBEB
          border-radius: 18px
        .iconPlus
          width: 54%
          height: 43.2px
          margin: auto
          display: flex
          align-items: center
          justify-content: center
          padding: 2%
          border-radius: 18px
          background-color: black
          color: white
    .content
      width: calc(100% - 80px)
      height: 100vh
      overflow: scroll
      .chatHeader
        height: 80px
        border-bottom: 1px solid rgba(0,0,0,0.12)
        display: flex
        align-items: center
        justify-content: space-between
        box-sizing: border-box
        .chatHeaderLeft
          display: flex
          align-items: center
          padding-left: 30px
          h1
            font-size: 20px
            font-weight: 500
        .chatHeaderRight
          display: flex
          align-items: center
          .userModal
            position: absolute
            width: 200px
            height: 100px
            background-color: white
            border: 1px solid rgba(0,0,0,0.12)
            border-radius: 10px
            z-index: 100
            top: 85px
            right: 20px
            padding: 10px 20px
            box-sizing: border-box
            ul
              list-style: none
              padding: 0
              margin: 0
              li
                display: flex
                align-items: center
                height: 40px
              .borderB
                border-bottom: 1px solid rgba(0,0,0,0.12)
          .changeUserNameBg
            position: absolute
            top: 0
            left: 0
            width: 100vw
            height: 100vh
            background-color: rgba(0,0,0,0.3)
            z-index: 100
            .changeUserNameWrapper
              position: absolute
              transform: translate(-50%, -50%)
              -webkit-transform: translate(-50%, -50%)
              -ms-transform: translate(-50%, -50%)
              top: 50%
              left: 50%
              width: 50%
              .closeButtonWrapper
                width: 100%
                height: 36px
                position: relative
                display: flex
                justify-content: end
                padding-right: 20px
                box-sizing: border-box
                top: 0
                left: 0
                .closeButton
                  width: 60px
                  height: 36px
                  display: flex
                  align-items: center
                  justify-content: center
                  padding-top: 5px
                  box-sizing: border-box
                  border-radius: 30px 30px 0px 0px
                  background-color: white
                  font-size: 16px
              .changeUserNameHeader
                width: 100%
                height: 36px
                position: relative
                display: flex
                justify-content: end
                padding-right: 20px
                box-sizing: border-box
                top: 0
                left: 0
                .closeButton
                  width: 60px
                  height: 36px
                  display: flex
                  align-items: center
                  justify-content: center
                  padding-top: 5px
                  box-sizing: border-box
                  border-radius: 30px 30px 0px 0px
                  background-color: white
                  font-size: 16px
              .changeUserNameModal
                width: 100%
                height: 250px
                background-color: white
                border-radius: 10px
                box-sizing: border-box
                .changeUserNameHeader
                  width: 100%
                  box-sizing: border-box
                  height: 60px
                  padding: 0 32px
                  display: flex
                  justify-content: space-between
                  align-items: center
                  border-bottom: 1px solid rgba(0,0,0,0.12)
                  span
                    font-weight: 500
                .body
                  width: 100%
                  text-align: right
                  padding: 20px 32px
                  box-sizing: border-box
                  p
                    font-weight: 400
                    text-align: left
                    margin: 0
                    font-size: 14px
                    margin-bottom: 10px
                  input
                    box-sizing: border-box
                    height: 48px
                    padding: 10px
                    border-radius: 5px
                    border: 1px solid rgba(0,0,0,0.2)
                    width: 100%
                  .buttonWrapper
                    width: 100%
                    display: flex
                    align-items: center
                    justify-content: space-between
                    .cancelButton
                      border: none
                      background: white
                      margin-top: 20px
                      height: 40px
                      width: 100px
                      color: #00671D
                      margin-bottom: 10px
                      font-size: 14px
                    .nextButton
                      border: 1px solid rgba(0,0,0,0.2)
                      background: black
                      border-radius: 5px
                      margin-top: 20px
                      height: 40px
                      width: 150px
                      color: white
                      margin-bottom: 10px
                      font-size: 14px
          .chatHeaderRightLeft
            font-size: 20px
            display: flex
            padding-right: 10px
            border-right: 1px solid rgba(0,0,0,0.12)
            .iconWrapper
              margin: 10px
          .chatHeaderRightRight
            padding-left: 20px
            padding-right: 20px
            display: flex
            align-items: center
            .iconWrapper
              border-radius: 100px
              width: 40px
              height: 40px
              overflow: hidden
              display: flex
              align-items: center
              justify-content: center
              .icon
                display: flex
                align-items: center
            .metadata
              display: flex
              flex-flow: column
              margin-left: 20px
              margin-right: 20px
              justify-content: center
              p
                margin: 0
                font-size: 16px
              span
                font-size: 14px
              .score
                color: #118740
                border-bottom: 1px solid #118740

      .chatBody
        width: 100%
        height: calc(100% - 80px)
        display: flex
        box-sizing: border-box
        .changeUserNameBg
          position: absolute
          top: 0
          left: 0
          width: 100vw
          height: 100vh
          background-color: rgba(0,0,0,0.3)
          z-index: 100
          .changeUserNameWrapper
            position: absolute
            transform: translate(-50%, -50%)
            -webkit-transform: translate(-50%, -50%)
            -ms-transform: translate(-50%, -50%)
            top: 50%
            left: 50%
            width: 50%
            .closeButtonWrapper
              width: 100%
              height: 36px
              position: relative
              display: flex
              justify-content: end
              padding-right: 20px
              box-sizing: border-box
              top: 0
              left: 0
              .closeButton
                width: 60px
                height: 36px
                display: flex
                align-items: center
                justify-content: center
                padding-top: 5px
                box-sizing: border-box
                border-radius: 30px 30px 0px 0px
                background-color: white
                font-size: 16px
            .changeUserNameHeader
              width: 100%
              height: 36px
              position: relative
              display: flex
              justify-content: end
              padding-right: 20px
              box-sizing: border-box
              top: 0
              left: 0
              .closeButton
                width: 60px
                height: 36px
                display: flex
                align-items: center
                justify-content: center
                padding-top: 5px
                box-sizing: border-box
                border-radius: 30px 30px 0px 0px
                background-color: white
                font-size: 16px
            .changeUserNameModal
              width: 100%
              height: 440px
              background-color: white
              border-radius: 10px
              box-sizing: border-box
              .changeUserNameHeader
                width: 100%
                box-sizing: border-box
                height: 60px
                padding: 0 32px
                display: flex
                justify-content: space-between
                align-items: center
                border-bottom: 1px solid rgba(0,0,0,0.12)
                span
                  font-weight: 500
              .body
                width: 100%
                text-align: right
                padding: 20px 32px
                box-sizing: border-box
                p

                  font-weight: 400
                  text-align: left
                  margin: 0
                  font-size: 14px
                  margin-bottom: 10px
                  margin-top: 10px
                input
                  box-sizing: border-box
                  height: 48px
                  padding: 10px
                  border-radius: 5px
                  border: 1px solid rgba(0,0,0,0.2)
                  width: 100%
                textarea
                  box-sizing: border-box
                  height: 48px
                  padding: 10px
                  border-radius: 5px
                  border: 1px solid rgba(0,0,0,0.2)
                  width: 100%
                .buttonWrapper
                  width: 100%
                  display: flex
                  align-items: center
                  justify-content: space-between
                  .cancelButton
                    border: none
                    background: white
                    margin-top: 20px
                    height: 40px
                    width: 100px
                    color: #00671D
                    margin-bottom: 10px
                    font-size: 14px
                  .nextButton
                    border: 1px solid rgba(0,0,0,0.2)
                    background: black
                    border-radius: 5px
                    margin-top: 20px
                    height: 40px
                    width: 150px
                    color: white
                    margin-bottom: 10px
                    font-size: 14px
        .chatBodyLeft
          width: 240px
          height: 100%
          border-right: 1px solid rgba(0,0,0,0.12)
          padding: 20px
          box-sizing: border-box
          overflow: scroll
          .chatBodyLeftItem
            .itemTitle
              font-size: 12px
              color:  rgba(0,0,0,0.8)
              display: flex
              align-items: center
              span
                margin-left: 10px
            ul
              list-style: none
              padding: 0
              margin-bottom: 30px
              li
                width: 100%
                margin: 15px 0
                font-size: 12px
                color:  rgba(0,0,0,0.8)
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap
                span
                  margin-left: 10px
              .isSelected
                color: black
                font-weight: 500
          .chatBodyLeftItemDiscussion
            .itemTitle
              font-size: 12px
              color:  rgba(0,0,0,0.8)
              display: flex
              align-items: center
            span
              //margin-left: 10px
            ul
              list-style: none
              border-radius: 5px
              padding: 0
              box-sizing: border-box
              margin-bottom: 30px
              li
                width: 100%
                margin: 15px 0
                font-size: 12px
                color:  rgba(0,0,0,0.8)
                display: flex
                justify-content: space-between
                box-sizing: border-box
                padding: 0 5px
                box-sizing: border-box
                .text
                  max-width: calc(100% - 70px)
                  overflow: hidden
                  text-overflow: ellipsis
                  white-space: nowrap
                  margin-left: 5px
                  margin-right: 5px
                .tagActive
                  width: 50px
                  display: flex
                  align-items: center
                  justify-content: center
                  font-weight: 400
                  font-size: 12px
                  border-radius: 5px
                  background-color: #00671D
                  color: white
                .tagPending
                  width: 50px
                  display: flex
                  align-items: center
                  justify-content: center
                  font-weight: 400
                  font-size: 12px
                  border-radius: 5px
                  //background-color: #00671D
                  color: #00671D
                  box-sizing: border-box
                  padding: 5px
                  background: rgba(0,103,29,0.12)
              .isSelected
                color: white
                background-color: #03260D
                padding: 5px
                border-radius: 5px
                box-sizing: border-box
                font-weight: 500

        .chatBodyRight
          width: calc(100% - 240px)
          .chatBodyRightHeader
            width: 100%
            height: 73px
            border-bottom: 1px solid rgba(0,0,0,0.12)
            font-size: 18px
            display: flex
            align-items: center
            padding-left: 20px
            box-sizing: border-box
            span
              margin-left: 10px
          .chatBodyRightChatSpace
            width: 100%
            height: calc(100% - 73px)
            .chatBody
              height: calc(100% - 80px)
              width: 90%
              margin: 0 auto
              display: flex
              flex-flow: column
              overflow: scroll
              .chatItemHeader
                display: flex
                align-items: center
                margin-top: 20px
                p
                  font-size: 18px
                  font-weight: 500
                  margin: 0
                  margin-left: 15px
                span
                  font-size: 14px
                  font-weight: 400
                  margin-left: 15px
                  color: rgba(0,0,0,0.6)
                .iconWrapper
                  width: 40px
                  height: 40px
                  display: flex
                  align-items: center
                  justify-content: center
                  overflow: hidden
                  border-radius: 100px
              .chatItemBody
                font-size: 14px
            .chatInput
              width: 100%
              height: 80px
              display: flex
              align-items: center
              justify-content: center
              .chatInputInput
                height: 48px
                padding: 0 10px
                width: calc(90% - 48px)
                box-sizing: border-box
                border: 1px solid #DDDDDD
                border-radius: 5px 0 0 5px
              button
                border: none
                background-color: black
                font-size: 20px
                border-radius: 0 5px 5px 0
                color: white
                width: 48px
                height: 48px
                padding: 0
                margin: 0
                display: flex
                align-items: center
                justify-content: center
            .vote
              position: absolute
              right: 10px
              top: 170px
              width: 300px
              min-height: 150px
              background-color: white
              border: 1px solid rgba(0, 0, 0, 0.12)
              border-radius: 5px
              padding: 5px
              padding-bottom: 10px
              box-sizing: border-box
              .voteHeader
                display: flex
                justify-content: space-between
                align-items: end
                padding-top: 5px
                padding-left: 10px
                padding-right: 10px
                h1
                  margin: 0
                  font-size: 16px
                  font-weight: 500
                span
                  font-size: 12px
              .voteItem
                padding-top: 10px
                padding-left: 10px
                padding-right: 10px
                .voteChoice
                  width: 100%
                  height: 40px
                  margin: 10px 0
                  display: flex
                  padding: 0 10px
                  align-items: center
                  border-radius: 5px
                  box-sizing: border-box
                  background: #F0F0F0
                  position: relative
                  span
                    position: absolute
                    z-index: 100
                    color: black
                    width: 90%
                    box-sizing: border-box
                    padding: 0 10px
                    display: flex
                    justify-content: space-between
    .createOrgModalBg
      position: absolute
      top: 0
      left: 0
      width: 100vw
      height: 100vh
      background-color: rgba(0,0,0,0.3)
      z-index: 100
      .createOrgModalWrapper
        position: absolute
        transform: translate(-50%, -50%)
        -webkit-transform: translate(-50%, -50%)
        -ms-transform: translate(-50%, -50%)
        top: 50%
        left: 50%
        width: 50%
        .closeButtonWrapper
          width: 100%
          height: 36px
          position: relative
          display: flex
          justify-content: end
          padding-right: 20px
          box-sizing: border-box
          top: 0
          left: 0
          .closeButton
            width: 60px
            height: 36px
            display: flex
            align-items: center
            justify-content: center
            padding-top: 5px
            box-sizing: border-box
            border-radius: 30px 30px 0px 0px
            background-color: white
            font-size: 16px
        .createOrgModal
          width: 100%
          height: 250px
          background-color: white
          border-radius: 10px
          box-sizing: border-box
          .createOrgModalHeader
            width: 100%
            box-sizing: border-box
            height: 60px
            padding: 0 32px
            display: flex
            justify-content: space-between
            align-items: center
            border-bottom: 1px solid rgba(0,0,0,0.12)
            span
              font-weight: 500
          .body
            width: 100%
            text-align: right
            padding: 20px 32px
            box-sizing: border-box
            p
              font-weight: 400
              text-align: left
              margin: 0
              font-size: 14px
              margin-bottom: 10px
            input
              box-sizing: border-box
              height: 48px
              padding: 10px
              border-radius: 5px
              border: 1px solid rgba(0,0,0,0.2)
              width: 100%
            .buttonWrapper
              width: 100%
              display: flex
              align-items: center
              justify-content: space-between
              .cancelButton
                border: none
                background: white
                margin-top: 20px
                height: 40px
                width: 100px
                color: #00671D
                margin-bottom: 10px
                font-size: 14px
              .nextButton
                border: 1px solid rgba(0,0,0,0.2)
                background: black
                border-radius: 5px
                margin-top: 20px
                height: 40px
                width: 150px
                color: white
                margin-bottom: 10px
                font-size: 14px